body
  /*https://www.daoway.cn*/
  color #333
  font 14px/1.14 "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", tahoma, arial, simsun, "宋体"
  #wrap
    width 100%
    .server
      width 100%
      background #fbf8f8
      .title
        line-height 85px
        width 1200px
        margin 0 auto;
        font-size 18px
      .s-content
        width 1200px
        margin 0 auto
        overflow hidden
        .s-c-left
          width 970px
          float left
          margin-bottom: 50px
          .serve
            width 232px
            height 300px
            border 1px solid #eaeaea
            padding 10px
            float left
            margin-right 10px
            margin-bottom 10px
            background #fff
            cursor pointer
            .bigImg
              width 210px
              height 210px
              vertical-align middle
            .title
              margin-top 15px
              height 26px
              line-height 26px
              white-space nowrap
              overflow hidden
              text-overflow ellipsis
              .smallImg
                width 18px
                height 17px
                margin-right 6px
            .text
              height 26px
              line-height 26px
              font-size 12px
              color #929292
              margin 0
              white-space nowrap
              overflow hidden
              text-overflow ellipsis
              i
                float right
        .s-c-right
          width 230px
          float right
          .erwCode
            width 230px
            height 290px
            background url(https://www.daoway.cn/pcimages/tuijianfuwushang_06.jpg) no-repeat center
            margin-top 10px
            img
              width 130px
              height 130px
              margin 50px 0 0 50px
      .btnMore
        width 100%
        margin 0 auto
        height 152px
        text-align center
        span
          display inline-block
          width 200px
          height 50px
          line-height 50px
          border 1px solid #e5e5e5
          border-radius 5px
          margin 50px 5px
          background #fff
          font-size 16px
          color #b1b1b1
          cursor pointer
          transform translateX(-120px)